<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="" style="width: 400px;">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Recuperação de Senha</h2>
      <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
        <!-- Alertas -->
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>

        <!-- Campo de email -->
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" id="email" formControlName="email" class="form-control"
            [ngClass]="{'is-invalid': recoveryForm.get('email')?.invalid && recoveryForm.get('email')?.touched}">
          <div *ngIf="recoveryForm.get('email')?.invalid && recoveryForm.get('email')?.touched"
            class="invalid-feedback">
            <span *ngIf="recoveryForm.get('email')?.errors?.['required']">E-mail é obrigatório</span>
            <span *ngIf="recoveryForm.get('email')?.errors?.['email']">Formato de e-mail inválido</span>
          </div>
        </div>

        <!-- Botões -->
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary" [disabled]="recoveryForm.invalid || loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-2" role="status"
              aria-hidden="true"></span>
            Enviar
          </button>
          <a routerLink="/auth/login" class="btn btn-outline-secondary">Voltar para Login</a>
        </div>
      </form>

    </div>
  </div>
</div>
