<app-pagination
  [totalItems]="items.length"
  [itemsPerPage]="itemsPerPage"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)"
  *ngIf="visibleTop"
  class="mb-2"
  >
</app-pagination>
<div class="row p-2">
  <div class="col" *ngFor="let column of columns; let i = index">
    {{ column }}
  </div>
</div>
<div *ngFor="let item of paginatedItems; let i = index">
  <div class="row p-2" [ngClass]="{'bg-light': i % 2 === 0}">
    <div class="col" *ngFor="let column of columns; let i = index">
      {{ item[this.removeSpecialCharacters(column.toLowerCase())] }}
    </div>
  </div>
</div>
<div class="row p-2">
  <div class="col" *ngFor="let column of columns; let i = index">
    &nbsp;
  </div>
</div>
<app-pagination
  [totalItems]="items.length"
  [itemsPerPage]="itemsPerPage"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)"
  *ngIf="visibleBotton"
  class="mt-4"
  >
