<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="my-5">
        <div class="card-body p-4">
          <h2 class="text-center mb-4">Your Shopping Cart</h2>
          <h4 class="text-center mb-4 text-danger">{{errorMessage}}</h4>
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead class="table-dark text-center">
                <tr>
                  <th>Product</th>
                  <th>Title</th>
                  <th>Price</th>
                  <th>Amount</th>
                  <th>Discount</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.cartItems">
                  <td class="text-center">
                    <img [src]="item.image" alt="Imagem do produto" class="img-thumbnail" width="50" />
                  </td>
                  <td>{{ item.title }}</td>
                  <td class="text-end">R$ {{ item.price | number: '1.2-2' }}</td>
                  <td class="text-center">{{ item.rating.count }}</td>
                  <td class="text-center">{{ item.discount }}</td>
                  <td class="text-end">R$ {{ item.subtotal }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="fw-bold">
                  <td colspan="5" class="text-end">Total:</td>
                  <td class="text-end">R$ {{ this.getTotalWithDiscount() | number: '1.2-2' }}</td>
                </tr>
                <tr class="fw-bold">
                  <td colspan="5" class="text-end">Valor total original sem o disconto:</td>
                  <td class="text-end">
                    R$ {{ this.getTotalWithoutDiscount() | number: '1.2-2' }}
                  </td>
                </tr>
                <tr class="fw-bold">
                  <td colspan="5" class="text-end">Você economizou:</td>
                  <td class="text-end">
                    R$ {{this.economy() | number: '1.2-2' }}
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

          <div class="d-flex justify-content-between mt-4">
            <div class="d-grid gap-2 col-lg-12 col-md-12">
              <button class="btn btn-secondary" (click)="goBack()">Voltar</button>
              <button type="button" class="btn btn-primary" [disabled]="!this.btnPayIsOk" (click)="confirmShopping()">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-2" role="status"
                  aria-hidden="true"></span>
                  🛒 Pay Shopping
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
